.auth-page{
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1637825891028-564f672aa42c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80');
    .container{
        min-height: 100vh;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .row{
            width: 100%;
            .auth-page-qr{
                display: flex;
                align-items: center;
                justify-content: center;
                canvas{
                    width: 200px !important;
                    height: 200px !important;
                    border: 5px solid #fff;
                    border-radius: 10px;
                }
                hr{
                    border-bottom: 2px solid $BorderPrimary;
                    width: 100%;
                }
            }
            .auth-page-box{
                max-width: 500px;
                margin: auto;
                background-color: #fff;
                border-radius: 10px;
                padding: 2.4rem 2rem;
                h3{
                    margin-bottom:.7rem;
                    font-weight: bold;
                }
                p{
                    margin-bottom: 1.4rem;
                    a{
                        color: $HighlightSecondary;
                        text-decoration: none;
                    }
                }
                div p{
                    margin-bottom: 0;
                    color: $TextParagraph;
                }
                label{ 
                    color: #434343;
                }
                .form-check-input:checked[type=radio]{
                    background-color: $HighlightPriamry;
                    border-color: $HighlightPriamry;
                    background-image: none;
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
@media screen and(max-width:768px) {
    .auth-page{
        .container{
            .auth-page-qr{
                flex-direction: column;
            }
        }
    }    
}