form{
    .theme-input-field{
        margin-bottom: 1rem;
        input{
        border-radius: 5px;
        width: 100%;
        border:1px solid $BorderPrimary;
        height: 40px;
        padding: 0 1rem;
    }
}
button{
    min-width:150px;
    height: 40px;
    background-color: $HighlightPriamry;
    color: #fff;
    border: none;
    border-radius: 25px;
    margin-top: 1.4rem;
    margin-left: auto;
}
}