header{
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    z-index: 100;
    img{
        width: 200px;
    }
}